@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0
}

body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgb(199, 231, 231);
}

input {
    margin-top: 10px;
    margin-left: 5px;
    width: 255px;
    text-align: center;
    font-size: 15px;
    height: 20px;
}

#color,
button {
    margin: none;
    width: 30px;
    height: 20px;
}



#btn1 {
    width: 10%;
    height: 10%;
    padding: 3%;
    margin: 10px 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}